<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <title>西安杨森</title>
    <!--监控如果用ie打开强制使用ie的兼容模式-->
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge"/>
    <meta name="keywords" content="西安杨森">
    <!--当屏幕缩放的时候按照1比1缩放-->
    <!--<meta name="viewport" content="width=device-width,initial-scale=1" />-->
    <!--<link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" />-->

    <link rel="stylesheet" type="text/css" href="../css/common.css"/>
    <link rel="stylesheet" type="text/css" href="../css/page_pc.css"/>

    <script type="text/javascript" src="../plugin/jquery-1.11.3.js"></script>
    <script type="text/javascript" src="../plugin/sixty_utils_browser.js"></script>
    <script type="text/javascript" src="../plugin/echarts.min.js"></script>
    <script src="../plugin/Vue.js"></script>
    <script src="../plugin/axios.min.js"></script>
    <script src="../providers/config.js"></script>

</head>
<body id="singleRanking_body">
<div id="singleRanking">

    <!--  <div class="header row">
          <div col-6 class="text-left">
              <img src="../assets/pc_img/logo_left.png">
          </div>
          <div col-6 class="text-right">
              <img src="../assets/pc_img/logo_right.png">
          </div>
      </div>-->

    <div class="content clearfix">
        <div class="content-left">
            <div class="qa-q">
                <div class="qa-q-title">
                    {{questionInfo.id}}.{{questionInfo.name}}（{{questionInfo.multi_select==2?"单选":"多选"}}）
                </div>
                <div class="qa-ans-item" v-for="(item,index) in questionInfo.answerListInfo">
                    <img v-if="questionAnswerSwitchInfo==3&&item.correct==1" src="../assets/pc_img/icon_choose.png">
                    {{index==0?'A.':(index==1?'B.':(index==2?'C.':'D.'))}} {{item.name}}
                </div>
            </div>
            <div class="echarts-box">
                <div id="main" style="width: 900px;height:300px;"></div>
            </div>
        </div>
        <div class="content-right">
            <div class="ranking-sock">
                <p class="title">积分排行榜</p>
                <div class="ranking-box">
                    <table class="rock" cellspacing="0" cellpadding="0">
                        <tr class="title">
                            <th class="th1">排名</th>
                            <th>昵称</th>
                            <th>所在药店</th>
                            <th>积分</th>
                            <th class="th5">用时</th>
                        </tr>
                        <tr class="item" v-for="(item,index) in rankList">
                            <td class="td1">
                                <img v-if="index==0" src="../assets/pc_img/medal_no1.png" alt="第一名">
                                <img v-if="index==1" src="../assets/pc_img/medal_no2.png" alt="第二名">
                                <img v-if="index==2" src="../assets/pc_img/medal_no3.png" alt="第三名">
                                <span v-if="index!=0&&index!=1&&index!=2">0{{index+1}}</span>
                            </td>
                            <td class="td2">
                                <img :src="item.headimgurl">
                                <span v-if="item.name&&item.name.length<=8">{{item.name}}</span>
                                <p v-if="item.name&&item.name.length>8">{{item.name}}</p>
                            </td>
                            <td class="td3">{{item.drugstore_name}}</td>
                            <td class="td4">{{item.integral}}</td>
                            <td class="td5">{{item.answer_time}}s</td>
                        </tr>
                    </table>
                    <div class="icon-cup">
                        <img src="../assets/pc_img/icon_cup.png">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</body>

<script>

    new Vue({
        el: '#singleRanking',
        data: {
            period_id: 1,
            questionAnswerSwitchInfo: 0,
            answerQuestionInfo: {
                correctCount: 0,
                errorCount: 0
            },
            questionInfo: {},
            rankList: [
                {
                    name: "",
                    drugstore_name: '',
                    integral: 0,
                    answer_time: 0
                }, {
                    name: "",
                    drugstore_name: '',
                    integral: 0,
                    answer_time: 0
                }, {
                    name: "",
                    drugstore_name: '',
                    integral: 0,
                    answer_time: 0
                }, {
                    name: "",
                    drugstore_name: '',
                    integral: 0,
                    answer_time: 0
                }, {
                    name: "",
                    drugstore_name: '',
                    integral: 0,
                    answer_time: 0
                }, {
                    name: "",
                    drugstore_name: '',
                    integral: 0,
                    answer_time: 0
                }, {
                    name: "",
                    drugstore_name: '',
                    integral: 0,
                    answer_time: 0
                }]
        },
        mounted: function () {
            this.getCurrentIntegral();
        },
        methods: {
            getCurrentIntegral() {
                var _Self = this;
                axios({
                    method: 'post',
                    url: 'item/back/johnson/question/get/current/question',
                    params: {
                        periodId: this.period_id
                    }
                }).then((res) => {
                    if (res.data.code == 0) {
                        if (res.data.data.answerSwitchInfo == 3) {
                            window.location.href = "totalRanking.html";
                            return false;
                        } else if (res.data.data.answerSwitchInfo == 2) {
                            this.answerQuestionInfo = res.data.data.answerQuestionInfo;
                            this.questionInfo = res.data.data.questionInfo;
                            this.rankList = res.data.data.rankList;
                            this.questionAnswerSwitchInfo = res.data.data.questionAnswerSwitchInfo;
                            this.echart();
                            /*  setTimeout(() => {
                                  this.getCurrentIntegral();
                              }, 500);*/
                        }
                    } else {
                        alert(res.data.message);
                    }
                })

            },
            echart() {
                // 基于准备好的dom，初始化echarts实例
                var myChart = echarts.init(document.getElementById('main'));

                // 指定图表的配置项和数据
                var option = {
                    xAxis: {
                        type: 'category',
                        data: [{
                            value: '答对人数',
                            textStyle: {
                                color: '#000',
                                fontSize: 18,
                            }
                        }, {
                            value: '答错人数',
                            textStyle: {
                                color: '#000',
                                fontSize: 18,
                            }
                        }],
                    },
                    yAxis: {
                        type: 'value',
                        splitNumber: 5,
                        axisLine: {       //y轴
                            show: false
                        },
                        axisTick: {       //y轴刻度线
                            show: false
                        },
                        splitLine: {     //网格线
                            show: true
                        }
                    },
                    series: [{
                        data: [{
                            value: this.answerQuestionInfo.correctCount,
                            itemStyle: {
                                color: "#6DBA42",

                            }
                        }, {
                            value: this.answerQuestionInfo.errorCount,
                            itemStyle: {
                                color: "#ED7A7B",

                            }
                        }],
                        type: 'bar',
                        barWidth: 100
                    }]
                };

                console.log(option);

                // 使用刚指定的配置项和数据显示图表。
                myChart.setOption(option);
            }
        }


    })
</script>
</html>