<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <title>西安杨森</title>
    <!--监控如果用ie打开强制使用ie的兼容模式-->
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge"/>
    <meta name="keywords" content="西安杨森">
    <!--当屏幕缩放的时候按照1比1缩放-->
    <!--<meta name="viewport" content="width=device-width,initial-scale=1" />-->
    <!--<link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" />-->
    <link rel="stylesheet" type="text/css" href="../css/common.css"/>
    <link rel="stylesheet" type="text/css" href="../css/page_pc.css"/>

    <script type="text/javascript" src="../plugin/jquery-1.11.3.js"></script>
    <script type="text/javascript" src="../plugin/sixty_utils_browser.js"></script>
    <script type="text/javascript" src="../plugin/echarts.min.js"></script>
    <script src="../plugin/Vue.js"></script>
    <script src="../plugin/axios.min.js"></script>
    <script src="../providers/config.js"></script>

</head>
<body id="totalRanking_body">
<div id="totalRanking">
    <div class="header row">
        <div col-6 class="text-left">
            <img src="../assets/pc_img/logo_left.png">
        </div>
        <div col-6 class="text-right">
            <img src="../assets/pc_img/logo_right.png">
        </div>
    </div>
    <div class="content-right">
        <div class="ranking-sock">
            <p class="title">积分排行榜</p>
            <div class="ranking-box">
                <table class="rock" cellspacing="0" cellpadding="0">
                    <tr class="title">
                        <th class="th1">排名</th>
                        <th>昵称</th>
                        <th>所在药店</th>
                        <th>积分</th>
                        <th class="th5">用时</th>
                    </tr>
                    <tr class="item" v-for="(item,index) in integralList">
                        <td class="td1">
                            <img v-if="index==0" src="../assets/pc_img/medal_no1.png" alt="第一名">
                            <img v-if="index==1" src="../assets/pc_img/medal_no2.png" alt="第二名">
                            <img v-if="index==2" src="../assets/pc_img/medal_no3.png" alt="第三名">
                            <span v-if="index!=0&&index!=1&&index!=2">0{{index+1}}</span>
                        </td>
                        <td class="td2">
                            <img :src="item.headimgurl">
                            <span v-if="item.name.length<=8">{{item.name}}</span>
                            <p v-if="item.name.length>8">{{item.name}}</p>
                        </td>
                        <td class="td3">{{item.drugstore_name}}</td>
                        <td class="td4">{{item.integral}}</td>
                        <td class="td5">{{item.answer_time}}s</td>
                    </tr>
                </table>
                <div class="icon-cup">
                    <img src="../assets/pc_img/icon_cup.png">
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    new Vue({
        el: '#totalRanking',
        data: {
            period_id: 1,
            integralList: [{
                name: "",
                drugstore_name: '',
                integral: 0,
                answer_time: 0
            }, {
                name: "",
                drugstore_name: '',
                integral: 0,
                answer_time: 0
            }, {
                name: "",
                drugstore_name: '',
                integral: 0,
                answer_time: 0
            }, {
                name: "",
                drugstore_name: '',
                integral: 0,
                answer_time: 0
            }, {
                name: "",
                drugstore_name: '',
                integral: 0,
                answer_time: 0
            }, {
                name: "",
                drugstore_name: '',
                integral: 0,
                answer_time: 0
            }, {
                name: "",
                drugstore_name: '',
                integral: 0,
                answer_time: 0
            }]
        },
        mounted: function () {


            this.getIntegralList();
        },
        methods: {
            getIntegralList: function () {
                axios({
                    method: 'post',
                    url: 'item/back/johnson/user/total/integral/list',
                    params: {
                        periodId: this.period_id,
                        size: 7,
                    }
                }).then((res) => {
                    if (res.data.code == 0) {
                        this.integralList = res.data.data;

                    } else {
                        alert(res.data.message);
                    }
                })

            }

        }
    })
</script>
</html>